/*****************************/
/* HEADER STYLES */
/*****************************/
.header {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 997;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem ;
    pointer-events: none;
    
}
.header__logo{
    width: 5rem;
    display: block;
    pointer-events: auto;
    color: #0C1016;
    flex-shrink: 0;
}
.header__right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header__controls{
   display: flex;
   align-items: center;
   gap: 1.25rem;
   z-index: 4;
}
.header__chat, .header__menu{

    padding: 0.3rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
    user-select: none;
    pointer-events: auto;
    will-change: transform;
    transition: transform 0.5s var(--ease-cubic);
}
.header__chat:hover, .header__menu:hover{
    transform: scale(1.1);
}
.header__chat{
    background-color: var(--color-light-bg);
    display: none;
}

.header__chat .chat-label{
   
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 2rem 0 2.5rem;
    color: var(--color-dark);
}

.header__chat .chat-icon{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white-bg);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    flex-shrink: 0;
    will-change: transform;
    transition: transform 500ms var(--ease-cubic-bounce);
}
.chat-icon .icon-base,
.chat-icon .icon-hover {
    width: 34%;
    display: block;
    will-change: transform;
    transition: transform 0.5s var(--ease-cubic-bounce);
}
.chat-icon .icon-hover{
    position: absolute;
    transform: translateX(-250%);
}
.header__chat:hover .icon-base{
    transform: translateX(250%);
}
.header__chat:hover .icon-hover{
    transform: translateX(0);
}
.header__menu{
    background-color: var(--color-dark);   
}
.header__menu-label{
    color: var(--color-white-bg);
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 1rem 0 1.5rem;
}

.text-wrapper{
    display: block;
    position: relative;
    overflow: hidden;
    height: 1.2em;
    width: 3.5em;
}
.text-wrapper .label-menu, 
.text-wrapper .label-close{
   position: absolute;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   display: flex;
   white-space: nowrap;
   transition: transform 500ms cubic-bezier(.22,.68,0,1.2);
}
.text-wrapper .label-menu{ transform: translate(-50%, 0);}
.text-wrapper .label-close{ transform: translate(-50%, 100%);}

.header__menu[aria-expanded="true"] .label-menu{transform: translate(-50%, -100%);}
.header__menu[aria-expanded="true"] .label-close{transform: translate(-50%, 0);}

.header__menu-dot{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #1E242C;
    flex-shrink: 0;
}
.header__menu-dot svg{
    display: block;
    width: 33%;
    color: var(--color-white-bg);
    will-change: transform;
    transition: transform 500ms var(--ease-cubic-bounce);
}
.header__menu:hover .header__menu-dot svg{transform: rotate(90deg);}
/* .header__menu.is-open .header__menu-dot svg{transform: rotate(90deg);} */
.header__nav{
    position: fixed;
    top: 5rem;
    right: 0;
    width: 100%;
    pointer-events: auto;
    user-select: none;
    will-change: transform;
    padding: 0 1rem;
    transform: translate(120%, 0) rotate(8deg);
    transition: transform 500ms var(--ease-cubic-bounce);
    z-index: 3;
}
.header__nav.is-open{
    transform: translate(0, 0) rotate(0deg);
}
.header__nav-wrapper{
    border-radius: 1.5rem;
    background-color: var(--color-light-bg);
    padding: 1.8rem 1.5rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 0.5rem; */
}
.header__nav-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.875rem;
    letter-spacing: -0.02em;
      padding: 0.25rem 1.5rem;
      border-radius: 1rem;
      text-decoration: none;
      color: var(--color-dark-accent);
      transition: background-color 200ms ease-out;
}
.header__nav-link:hover{
    background-color: var(--color-white-bg);
}
.header__nav-link.active{
    opacity: 0.35;
    pointer-events: none;
    cursor: default;

}
 /* Arrow icon: hidden on mobile, animated on desktop */
 .nav-arrow {
    /* display: none; */
    width: 0;
    overflow: hidden;
    flex-shrink: 0;
    transition: width 300ms ease-out;
    color: var(--color-dark-accent);
    font-size: 2rem;
    display: flex;
    align-items: center;
 }
 .nav-arrow[name="arrow-forward-outline"]{
    width: 1.75rem;
    display: block;
 }

/**************************************/
/* HERO SECTION */
/*************************************/
 .hero{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3em;
    padding-bottom: 5em;
    
    /* justify-content: space-between; */
    /* padding: 2.5rem 3rem; */
 }
 .hero__scroll{
    color: var(--color-gray);
    display: none;
    animation: textBounce 2s var(--ease-cubic-bounce) infinite;
 }
 @keyframes textBounce {
    from{transform: translateY(0) }
    to {transform: translateY(-1px)}
 }

 .hero__scroll-text{
    font-size: 1.1rem;
 }
 .hero__content{
    display: flex;
    flex-direction: column;
    
 }
.hero__content-text{
font-size: 1.3rem;
line-height: 1.5;
width: min(500px, 90%);
color: var(--color-dark-accent);
margin-bottom: 1em;
}
.hero__content-heading{
    font-size: 3rem;
    line-height: 1.1;
    color: var(--color-dark);
}

/* WORK */
.work__item{
    height: 450px;
    background-color: var(--color-dark);
    padding: 1.5em;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow: hidden;
}
.work__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.work__content{
     display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}
.work__name{
    color: var(--color-white-bg);
    font-size: 1.4rem;
}
.work__description{
    color: var(--color-gray);
     font-size: 1.1rem;
     width: min(450px, 100%);
}
.work__action{
     width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.work__action:hover{
    cursor: pointer;
   background-color: var(--color-dark-accent);
    color: var(--color-dark);
    border-radius: 50%;
    
}

 .work__icon{
    color: var(--color-gray);
    font-size: 1.4rem;
}
.work__visual{
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin: 0 0 -1.5em 0; 
}
.work__mobile-view img, .work__desktop-view img{
    display: block;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
.work__mobile-view{
    /* transform: skewX(3deg); */
    /* width: min(40%, 100%); */
    display: none;
    transform: translateY(10px);
    height: 600px;
}
.work__desktop-view{
    /* transform: translateX(3px); */
    /* width: min(60%, 100%); */
    width: 100%;
    height: 600px;
}

 @media (min-width: 1024px){
    .header{
        padding: 2.5rem 3rem;
        align-items: flex-start;
    }
    .header__logo{
        width: 9rem;
    }
    .header__chat{
        display: flex;
    }
    .header__menu-label   { font-size: 1rem; padding: 0 2rem 0 2.5rem; }
      .header__menu-dot     { width: 3rem; height: 3rem; }
      .header__nav{
        position: relative;
        top: auto;
        right: auto;
        padding: 0;
      }
      .header__nav-link{font-size: 2.8rem; padding: 1rem 1.5rem;}
      .header__nav-wrapper{padding: 2.5rem 1.5rem;}
      .nav-arrow { display: block; }
      .header__nav-link:hover .nav-arrow{
       width: 1.75rem;
      }

      /* HERO */
      .hero{
        height: 100vh;
      }
      .hero__content-heading{
        font-size: 6rem;
        font-weight: 700;
      }
      .hero__scroll{
        display: block;
      }
      /* WORK */
      
      .work__item{
        padding: 3em;
        height: 450px;
        gap: 2em;
      }
      .work__visual{
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin: 0 0 -3em 0; 
}
.work__name{
    font-size: 2rem;
}
.work__icon{
    font-size: 2rem;
}
.work__mobile-view{
        display: block;
        width: 40%;
      }
      .work__desktop-view{
        width: 60%;
      }


 }