/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px  */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .padding-md {
    padding: 0 9rem 0 9rem;
  }
  .hero__content--describe {
    width: 60%;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  =0.5625  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
/**************************/
/* BELOW 758px (Smaller tablets) */
/**************************

/**************************/
/* BELOW 758px (smaller tablets) */
/**************************/
@media (max-width: 47em) {
  .btn-nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    transition: opacity 250ms ease;
    border-radius: 4px;
  }
  .menu-nav-toggle {
    width: 70%;
    position: relative;
  }
  .menu-nav-toggle,
  .menu-nav-toggle::before,
  .menu-nav-toggle::after {
    display: block;
    height: 2px;
    background-color: var(--green);
    border-radius: 4px;
  }
  .menu-nav-toggle::before,
  .menu-nav-toggle::after {
    content: "";
    /* width: 100%; */
  }
  .menu-nav-toggle::before {
    transform: translateY(-9px);
    width: 100%;
  }
  .menu-nav-toggle::after {
    transform: translateY(6px);
    width: 70%;
  }
  .nav {
    background-color: var(--navy);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(35%);
  }
  .nav-open .icon-nav-toggle[name="close-outline"] {
    display: block;
  }
  .nav-open .menu-nav-toggle {
    display: none;
  }
  /* OVERLAY */

  .nav-list {
    flex-direction: column;
    align-items: center;
    margin-right: 15rem;
    gap: 4.8rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 2.5rem;
  }

  /* HERO */
  .padding-sm {
    padding: 0;
  }
  .hero__orientation {
    display: none;
  }
  .hero__content--describe {
    width: 80%;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .hero__content--name {
    font-size: 3.5rem;
  }
  .hero__content--subtitle {
    font-size: 4rem;
  }
  .hero__content--describe {
    width: 100%;
  }

  /* ABOUT SECTION */
  .about {
    grid-template-columns: 1fr;
  }
}
