/*****************************/
/*HEADER*/
/*****************************/
.header {
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  padding: 0 4.8rem;
  height: 9rem;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
}

.logo-mine {
  height: 3.2rem;
}
.welcome {
  color: var(--lightest-slate);
  font-weight: 500;
  margin-left: 10px;
  font-size: 1.7rem;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: var(--lightest-slate);
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--br-dark-green);
}

.nav-link.nav-link__cta {
  padding: 1.1rem 2.2rem;
  color: var(--br-dark-green);
}
.btn-nav-toggle {
  display: none;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}
.icon-nav-toggle {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--br-dark-green);
}
.list__link--icon {
  /* width: 50%; */
}
.icon-nav-toggle[name="close-outline"] {
  display: none;
}

/* Sticky Navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--navy);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .hero-section {
  margin-top: 9.6rem;
}
/**********************/
/*HERO SECTION*/
/**********************/
.hero-section {
  background-color: var(--navy);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  /* padding: 2.5rem 0 5rem 0; */
}
.hero__content {
  line-height: 1.4;
}
.hero__content--title {
  color: var(--br-dark-green);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.hero__content--name {
  font-size: 6.5rem;
  font-weight: 700;
  color: var(--lightest-slate);
}
.hero__content--subtitle {
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--slate);
  margin-bottom: 3rem;
}
.hero__content--describe {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--slate);
  line-height: 1.5;
  margin-bottom: 4rem;
}
.hero--btn {
  font-size: 1.6rem;
  padding: 1.6rem 5.8rem;
}

/**About Section*/
.about-section {
  background-color: var(--navy);
}
.about {
  display: grid;
  grid-template-columns: 62fr 35fr;
  gap: 5rem;
  align-items: center;
}
.about__describe {
  font-size: 1.7rem;
  line-height: 1.7;
  color: var(--slate);
  font-weight: 500;
}
.about-section .techie__title {
  color: var(--slate);
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.about-section .techie__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 0.6;
}
.about-section .techie__item {
  font-size: 1.2rem;
  font-weight: 500;
}

.about__img {
  /* position: relative;
  width: 90%; */
  margin-top: 5rem;
  /* position: relative; */
  /* width: 70%; */
  /* min-height: 30em;
  background: rgba(0, 0, 0, 0.03) url(/assets/mine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  /* background: var(--green-tint); */
}
.about__img--mine {
  width: 70%;
  object-fit: cover;
}

.about__img::after {
  /* position: absolute;
  content: "";
  border: 1px solid rgb(112, 92, 92);
  height: 100%; */
}

.about__img:hover .about__img--mine {
  opacity: 0.3;
}

/*Work section*/
.work-section {
  background-color: var(--navy);
  padding: 4.8rem 0 9.6rem 0;
}
.work {
  display: grid;
  grid-template-columns: 25fr 65fr;
  /* grid-column: -2rem; */
  column-gap: -10rem;
  gap: -5rem;
  padding: 0 6rem;
  /* row-gap: -3rem; */
}
.tabs {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.tab-content {
  width: 83%;
}
.tab {
  color: var(--light-slate);
  cursor: pointer;
  padding: 1.1rem;
  width: 120px;
  height: 42px;
  font-size: 1.3rem;
  border-left: 2px solid var(--slate);
  display: flex;
  align-items: center;

  gap: 3rem;
}
.active.tab {
  border-left: 2px solid var(--br-dark-green);
  color: var(--br-dark-green);
}
.tab:hover {
  background-color: var(--green-tint);
}

.tab-content__title,
.tab-content__subtitle {
  padding: 0 1.5rem;
  margin: 0.95rem 0;
  color: var(--light-slate);
  font-size: 1.8rem;
  line-height: 1.4;
}
.tab-content__title span {
  color: var(--br-dark-green);
}
.tab-content__subtitle {
  color: var(--slate);
  font-size: 1.3rem;
  font-weight: 500;
}
.tab-content .tool__item {
  font-size: 1.4rem;
  line-height: 1.6;
}
