/*****************************/
/*HEADER*/
/*****************************/
.header {
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  padding: 0 4.8rem;
  height: 9rem;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
}

.logo-mine {
  height: 3.2rem;
  /* width: 50px; */
}
.welcome {
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: 700;
  margin-left: 10px;
  font-size: 1.8rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}
.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--green);
}

.nav-link__cta {
  padding: 1.1rem 2.2rem;
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 4px;
}
.btn-nav-toggle {
  display: none;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}
.icon-nav-toggle {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--green);
}
.list__link--icon {
  /* width: 50%; */
}
.icon-nav-toggle[name="close-outline"] {
  display: none;
}
/**********************/
/*HERO SECTION*/
/**********************/
.hero-section {
  /* overflow: hidden; */
  background-color: var(--navy);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  padding: 2.5rem 0 5rem 0;
}
.hero__content {
  line-height: 1.1;
}
.hero__content--title {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.hero__content--name {
  font-size: 7rem;
  font-weight: 600;
  color: var(--lightest-slate);
}
.hero__content--subtitle {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--light-slate);
  margin-bottom: 5rem;
}
.hero__content--describe {
  width: 45%;
  font-size: 1.9rem;
  color: var(--light-slate);
  line-height: 1.5;
  margin-bottom: 5rem;
}
.hero__content--btn {
  text-decoration: none;
  color: var(--green);
  letter-spacing: 1px;
  font-size: 1.6rem;
  border: 1px solid var(--green);
  padding: 1.2rem 4.8rem;
}
.hero__orientation {
  padding: 0 4.8rem;
  position: absolute;
  bottom: 90px;
}
.right {
  position: sticky;
}

.right::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100px;
  background-color: var(--light-slate);

  margin-left: 0.9rem;
}

.about-section {
  background-color: var(--navy);
}
.about {
  display: grid;
  grid-template-columns: 60fr 35fr;
  gap: 5rem;
  grid-row: 5rem;
  align-items: center;
}
.about__describe {
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--light-slate);
}

.about__img {
  position: relative;
  width: 90%;
}
.about__img--mine {
  opacity: 1;
  transition: 0.5s ease;
  width: 90%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 4px;
}

.about__img::after {
  border: 1px solid var(--green);
  width: 90%;
  height: 90%;
  position: absolute;
  content: "";
  top: 7%;
  left: 10%;
  border-radius: 4px;
  overflow: hidden;
  /* z-index: -1; */
}

.about__img:hover .about__img--mine {
  opacity: 0.3;
}
.work-section {
  background-color: var(--navy);
}
.work {
  display: flex;
  gap: 2rem;
}
.tabs {
  display: flex;
  flex-direction: column;
  /* gap: 4rem; */
  width: 15%;
}
.tab-content {
  width: 73%;
}
.tab {
  color: var(--light-slate);
  cursor: pointer;
  padding: 1.1rem;
  width: 100px;
  font-size: 1.2rem;
  border-left: 2px solid var(--slate);

  gap: 3rem;
  /* position: absolute; */
  /* top: 15%; */
  /* transition: 0.3s; */

  /* margin-left: 2rem; */
}
.active.tab {
  border-left: 2px solid var(--green);
}
.tab:hover {
  background-color: var(--green-tint);
  /* border-left: 2px solid var(--green); */
  /* padding: 0.9rem; */
  /* width: 100px;  */
}

.tab-content__title,
.tab-content__subtitle {
  padding: 0 1.5rem;
  margin: 0.95rem 0;
}
